body {
    margin: 0;
    padding: 0;
    background-color: rgb(232, 243, 255);
    padding-bottom: 60px;
}

nav {
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

nav button:hover {
    background-color: #e7e7f6;
    border-radius: 5px;
}

nav button {
    color: #2D3079;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    margin: 20px;
    border: 0;
    background-color: transparent;
}

.loginbtn {
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    outline: 1px solid #2D3079;
    border: #2D3079;
    border-radius: 5px;
}

.registerbtn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    background-color: #2D3079;
    color: white;
    border: #2D3079;
    border-radius: 7px;
    margin-right: 50px;
}

.mainframe {
    margin-top: 49px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.schememain {
    background-color: #2D3079;
    font-weight: 600;
    color: white;
    font-size: medium;
    padding: 50px;
    padding-left: 100px;
    height: 172px;
}

.backmain h1 {
    font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: large;
}

.backmain {
    margin-right: 0px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    font-size: large;
    outline: 1px solid #2D3079;
    border: #2D3079;
    border-radius: 7px;
}

.backmain h1 {
    font-family: Cerebri Sans, sans-serif !important;
}

.navlogo {
    float: left;
}

.centerdiv {
    display: flex;
    justify-content: content;
    align-items: center;
}

.formarea {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e9f6;
    padding-top: 40px;
    padding-bottom: 50px;
}

.formplaincard {
    display: block;
    font-family: Cerebri Sans, sans-serif;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    width: 95%;
    padding: 0px;
    margin: 20px;
}

.formplaincard h4 {
    margin: 30px;
    font-size: large;
    color: #3c3c3c;

}

.formplaincard ol li {
    color: #777;
    margin-right: 50px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 16px;
    margin-top: 30px;
    font-size: medium;
    margin-top: 20px;
}

.bannerdsh {
    display: flex;
    flex-direction: row;
    place-items: stretch;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    background-color: #2d3079;
    padding: 0px;
}

.bannerdisc {
    padding: 60px;
    margin: auto;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bannerdsh h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    max-width: 600px;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 2px;
    color: white;
    margin: 0px auto;
}

.bannerdsh p {
    max-width: 500px;
    color: white;
    font-weight: 300;
    font-size: medium;
    margin-top: 20px;
}

.bannerdsh img {
    border-radius: 20px;
    box-shadow: 0 0 33px 0 rgba(23, 24, 61, .56);
    margin: 60px;
    margin: auto;
    float: right;
}

.bannerdesccount {
    display: flex;
    flex-direction: row;
    width: 524px;
    height: 100px;
    align-items: start;
    margin-top: 80px;
}

.bannerdesccount div {
    margin-right: 10px;
    width: 100%;
    height: 70px;
}

.bannerdesccount div p {
    font-family: 'Albert Sans', sans-serif;
}



.landing_announce {
    width: 100%;
    height: 47px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: #fff1dc;
}



.landing_announce div {
    height: 47px;
}


.anndesmer {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 24px;

}

.annlist {
    list-style-type: disc;
    display: inline-block;

}

.annlist li {
    display: inline-block;
    margin-inline-end: 100px;
}

.container2 {
    background-color: #e8f3ff;
    width: 100%;
    height: 990px;
}

.innercontainer {
    width: 1349px;
    margin: 100px auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 46px;

}

.cardcontainer:hover {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));

}

/* card inner */

.gridcard {
    /* copied */
    --all: 0px;
    display: inline-block;
    margin: 10px;
    -webkit-mask:
        linear-gradient(45deg, transparent 0 var(--bottom-left, var(--all)), #fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 var(--bottom-right, var(--all)), #fff 0) bottom right,
        linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0) top left,
        linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0) top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
    --top-right: 80px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    height: fit-content;
    min-height: 300px;
    width: fit-content;
    z-index: 9;
}

.gridcard:hover {

    .titlebr {
        width: 50%;
    }
}

.listlogodash {
    margin-top: 65px;
    margin-left: 123px;
    max-width: 153px;
    height: 120px;
}

.cardinner {
    width: 100%;
    height: 100%;

}

.cardinner h4 {
    font-family: Cerebri Sans, sans-serif !important;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: #2d3079;
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 13px;
    max-width: 75%;
    width: 100%;
}

.cardcontentul {
    display: block;
    width: 90%;
    font-size: 1rem;
    line-height: 26px;
    color: #4c5f74;
    text-align: justify;
    font-weight: 500;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

.titlebr {
    border-radius: 10px;
    width: 25%;
    height: 4px;
    background-color: #FF9934;
    transition: 0.2s;
}

.cardbbg {
    border-radius: 10px;
    width: 94.5%;
    height: 50%;
    margin: 11px;
    background-color: #2d3079;
}


.schemelogo {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.schemeavailable {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 26px;
    font-weight: bold;
    color: #3a4a5b;
}

.cardbtn {
    margin-top: 20px;
    border: 1px solid #2D3079;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    padding: 15px;
    background-color: white;
    color: #2D3079;
    font-size: 14px;
}

.cardbtn:hover {
    transition: 0.3s;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    padding: 15px;
    background-color: #2d3079;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.morescheme {
    width: 1280px;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    margin: auto auto;
}

.intitiative {
    width: 100%;
    height: fit-content;
}

.intitiative h1 {
    color: #000;
    font-size: 35px;
    line-height: normal;
    font-family: Cerebri Sans, sans-serif !important;
    padding-bottom: 21px;
    margin: 20px;
}

.intitiative p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px;
    padding-bottom: 27px;
}

.intitiativecard {
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 640px;
}

.intitiativecard h3{
    color: #4c5f74;
    font-size: 1rem;
    line-height: 1.8em;
    font-weight: 500;
    margin: 0;
    padding: 30px 28px 6px;
}

.intitiativecard ul{
    list-style-type: none;
    width: 100%;
    border-top: 1px solid #e2e2e2;
}

.intitiativecard ul li{
    
}

.intitiativecard ul li em{
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
    top: 25px;
}