body {
    margin: 0;
    padding: 0;
}

nav {
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

nav button:hover {
    background-color: #e7e7f6;
    border-radius: 5px;
}

nav button {
    color: #2D3079;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    margin: 20px;
    border: 0;
    background-color: transparent;
}

.loginbtn {
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    outline: 1px solid #2D3079;
    border: #2D3079;
    border-radius: 5px;
}

.registerbtn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    background-color: #2D3079;
    color: white;
    border: #2D3079;
    border-radius: 7px;
    margin-right: 50px;
}

.mainframe {
    margin-top: 49px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.schememain {
    background-color: #2D3079;
    font-weight: 600;
    color: white;
    font-size: medium;
    padding: 50px;
    padding-left: 100px;
    height: 172px;
}

.backmain h1 {
    font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: large;
}

.backmain {
    margin-right: 0px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    font-size: large;
    outline: 1px solid #2D3079;
    border: #2D3079;
    border-radius: 7px;
}

.backmain h1 {
    font-family: Cerebri Sans, sans-serif !important;
}

.navlogo {
    float: left;
}

.centerdiv {
    display: flex;
    justify-content: content;
    align-items: center;
}

.formarea {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e9f6;
    padding-top: 40px;
    padding-bottom: 50px;
}

.formplaincard {
    display: block;
    font-family: Cerebri Sans, sans-serif;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    width: 95%;
    padding: 0px;
    margin: 20px;
}

.formplaincard h4 {
    margin: 30px;
    font-size: large;
    color: #3c3c3c;

}

.formplaincard ol li {
    color: #777;
    margin-right: 50px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 16px;
    margin-top: 30px;
    font-size: medium;
    margin-top: 20px;
}

.bannerdsh {
    display: flex;
    flex-direction: row;
    place-items: stretch;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    background-color: #2d3079;
    padding: 0px;
}

.bannerdisc {
    padding: 60px;
    margin: auto;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bannerdsh h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    max-width: 600px;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 2px;
    color: white;
    margin: 0px auto;
}

.bannerdsh p {
    max-width: 500px;
    color: white;
    font-weight: 300;
    font-size: medium;
    margin-top: 20px;
}

.bannerdsh img {
    border-radius: 20px;
    box-shadow: 0 0 33px 0 rgba(23, 24, 61, .56);
    margin: 60px;
    margin: auto;
    float: right;
}

.bannerdesccount {
    display: flex;
    flex-direction: row;
    width: 496px;
    height: 100px;
    align-items: start;
    margin-top: 80px;
}

.bannerdesccount div {
    margin-right: 10px;
    width: 100%;
    height: 70px;
}

.bannerdesccount div p {
    font-family: 'Albert Sans', sans-serif;
}



.landing_announce {
    width: 100%;
    height: 47px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: #fff1dc;
}



.landing_announce div {
    height: 47px;
}


.anndesmer {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 24px;

}

.annlist {
    list-style-type: disc;
    display: inline-block;

}

.annlist li {
    display: inline-block;
    margin-inline-end: 100px;
}

.container2 {
    background-color: #e8f3ff;
    width: 100%;
    height: fit-content;
}

.innercontainer {
    width: 1349px;
    margin: 100px auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 86px;

}


/* card inner */

.gridcard {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
    height: 360px;
}

.gridcard:hover {
    box-shadow: 0px 0px 20px 2px rgb(221 221 221);
}

.listlogodash {
    margin-top: 65px;
    margin-left: 123px;
    max-width: 153px;
    height: 120px;
}

.cardinner {

    width: 100%;
    height: 100%;

}

.cardinner h4 {
    font-family: Cerebri Sans, sans-serif !important;
    letter-spacing: normal;
    margin: 0 0 16px;
    color: #2d3079;
    font-size: 1.6rem;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 13px;
    max-width: 75%;
    width: 100%;
}

.cardcontentul{
    font-family: Cerebri Sans,sans-serif;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 26px;
    font-weight: bold   ;
    color: #4c5f74;
}