body{
    margin:0;
    padding: 0;
}

nav{
    position: fixed;
    top: 0;
   background-color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    
}

nav button:hover{
    background-color: #bdbdf7;
    border-radius: 10px;
}

nav button
{   
    color: #2D3079;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    margin: 20px;
    border: 0;
    background-color: transparent;
}

.loginbtn{
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    outline: 1px solid #2D3079;
    border: #2D3079;
    border-radius: 7px;
}

.registerbtn{
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    background-color: #2D3079;
    color: white;
    border: #2D3079;
    border-radius: 7px;
    margin-right: 50px;
}

.mainframe{ 
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.schememain{
    background-color: #2D3079;
    font-weight: 600;
    color: white;
    font-size: medium;
    padding : 50px;
    padding-left:100px;
    height: 172px;
}

.backmain h1{
    font: 400 24px/32px Roboto,Helvetica Neue,sans-serif;
    font-weight: 600;
    font-size: large;
}

.backmain{
    margin-right: 0px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    font-size: large;
    outline: 1px solid #2D3079;
    border: #2D3079;
    border-radius: 7px;
}

.backmain h1{
    font-family: Cerebri Sans,sans-serif!important;
}
.navlogo{
    float: left;
}

.centerdiv{
    display: flex;
    justify-content: content;
    align-items: center;
}

.formarea{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e9f6;
    padding-top: 40px;
    padding-bottom: 50px;
}

.formplaincard{
    display: block;
    font-family: Cerebri Sans,sans-serif;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    width: 95%;
    padding: 0px;
    margin: 20px;
}

.formplaincard h4{
    margin: 30px;
    font-size: large;
    color: #3c3c3c;

}

.formplaincard ol li{
    color: #777;
    margin-right: 50px;
    text-align: justify ;
    text-justify:inter-word;
    margin-left: 16px;
    margin-top: 30px;
    font-size: medium;
    margin-top: 20px;
}

.bannerdsh{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    margin-top: 20px;
    background-color: #2d3079;
    padding: 0px;
}

.bannerdsh h1{
    font-size: xx-large;
    max-width: 600px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 2px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

.bannerdsh img{
    margin-right: 100px;
    margin: 40px;
}